img {
    max-width: 100%;
}

.media-wrapper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news-header {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 50px;
}

.news-header h2 {
    margin: 0;

}

.news-item-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgb(157 165 185 / 20%);
    border-radius: 1px;
    padding: 30px;
}

.news-item-main h3 {
    margin: 0;
    padding-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 130%;
    color: #363C44;
}

.news-item-main p {
    margin: 0;
    padding-bottom: 14px;
    padding-top: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 145%;
    color: #B0B0B0;
}

.news-item-main i {
    text-align: center;
    align-items: center;
    width: 14px;
    height: 14px;
    color: #0754C8;
}

.news-item-main small {
    padding-left: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #0754C8;
}

.line {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 390px;
    height: 0px;
    border: 1px solid #ECECEC;
}

.news-item-body {
    display: flex;
    align-items: center;
}

.news-item-body img {
    width: 115px;
    height: 80px;
}

.news-item-inner {
    padding-top: 25px;
}

.news-item-child {
    padding: 0px 13px;
}

.news-item-child p {
    padding: 0;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #363C44;
}
.news-item-child i,
.news-item-child small {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #B0B0B0;
}