<<<<<<< HEAD
.media .media-wrapper {
=======
/*header*/
.header .container {
    max-width: 1519px;
}

.header-wrapper {
    max-width: 100%;

}

.header-logo {
    width: 100%;
    align-items: center;
    padding: 12px 22px 12px 22px;
    display: flex;
    background: linear-gradient(180deg, #E9EEF5 0%, rgba(233, 238, 245, 0) 100%);
}

.header-item {

    display: flex;
}

.header-logo-info {

    margin-left: 35px;
}

.header-logo-info h2 {
    font-family: 'Museo Sans Cyrl', sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    color: #363C44;
    text-align: start;
    padding-bottom: 12px;
    margin: 0;
}

.header-logo-info a {
    text-decoration: none;
}

.header-logo-info ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.header-logo-info ul li:not(:last-child) {
    margin-right: 25px;
}

.header-logo-info ul li a {
    font-family: 'Museo Sans Cyrl', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #929DAD;
}

.header-left {
    margin: 20px 0px;
    margin-left: 32px;
}

.header-top {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #E9EDF3;
}

.header-function {
  
    display: flex;
    align-items: center;
    justify-content: center;

    display: flex;
}

.header-function ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header-lang {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-lang ul {
    margin-left: 67px;

}

.header-lang ul li {
    font-size: 16px;
    line-height: 19px;
    color: #929DAD;
}

.header-lang li i {
    margin-right: 10px;
}

.header-function li:not(:last-child) {
    margin-right: 35px;
}

.header-search {
    margin-left: 100px;

}
.header-function li a i{
    margin-right: 8px;
}
.header-function li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #929DAD;
}


.header-bottom ul li a {
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    color: #363C44;
}

.header-bottom {
   padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-bottom-info ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.header-bottom-info ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/*header*/

/*banner*/

.banner {
    margin-bottom: 100px;
}

.banner {
    background-image: url('../image/bekzod.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    height: 100vh;
}

.banner-header {
    margin-bottom: 111px;
}

.banner::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(30, 28, 28, 0.5) 0%, rgba(30, 28, 28, 0.5) 33.29%, rgba(27, 24, 24, 0.75) 100%);
    z-index: -1;
}

.banner-header-item span i {
    margin-right: 10px;
}

.banner-header-item {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}

.banner-header-item span {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.banner-header-item h2 {
    margin-bottom: 40px;
    font-style: 700;
    font-weight: 700;
    font-size: 38px;
    line-height: 140%;
    color: #FFFFFF;

}

.banner-header-item a {
    display: flex;
    align-items: center;
    width: max-content;
    justify-content: center;
    padding: 0px 25px;
    height: 40px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 19px;
    background-color: #0754C8;
    text-decoration: none;
}

.banner-header-item a small {
    color: #FFFFFF;
}

.banner-body-item {
    opacity: 0.6;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 24px 24px 24px 24px;
    width: 100%;
    height: 180px;
}

.banner-body-item-header span {
    margin-bottom: 18px;
    width: 100%;
}

.banner-body-item-header {
    display: flex;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.banner-body-item-header i {
    margin-right: 10px;
}

.banner-body-item-info {
    margin-top: 18px;
    color: #FFFFFF;
}

/*banner*/

.media .media-wrapper {
    width: calc(100% / 12 * 12);
>>>>>>> d8e865ea41399d1fc92901bbb2e1da77c8882fbf
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgb(157 165 185 / 20%);
    border-radius: 1px;
}

.media-wrapper img {
    width: 100%;

}

.news-item-image {
    padding-bottom: 22px;
}

.news-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news-item-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news {
    padding-top: 120px;
}

.news-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.news-header h2 {
    margin: 0;
}

.news-item-main {
    padding: 30px 30px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgb(157 165 185 / 20%);
    border-radius: 1px;
}

.news-item-info {
    padding-bottom: 30px;
    border-bottom: 1px solid #ECECEC;
}

.news-item-info h3 {
    margin: 0;
    padding-bottom: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 130%;
    color: #363C44;
}

.news-item-info p {
    margin: 0;
    padding-bottom: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 145%;
    color: #B0B0B0;
}

.news-item-info small i {
    padding-right: 8px;
    text-align: center;
    align-items: center;
    width: 14px;
    height: 14px;
    color: #0754C8;
}

.news-item-info small {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #0754C8;
}

/* news-body*/

.news-body {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgb(157 165 185 / 20%);
    border-radius: 1px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.news-body :nth-child(4).news-item-body {
    padding-bottom: 40px;
}

.news-item-body:nth-child(4) .news-item-inside {
    border: 0px;
    padding: 0;

}

.news-item-body {
    display: flex;
    padding-bottom: 30px;
}


.news-item-inner {
    padding-top: 25px;
}

.news-item-foto {
    flex: 0 0 134px;
    max-width: 134px;
    height: 80px;
}

.news-item-soon {
    margin-left: 13px;
}

.news-item-soon p {

    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #363C44;
}

.news-item-soon i {
    padding-right: 8px;
}

.news-item-soon i {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #B0B0B0;
}

.news-item-soon small {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #B0B0B0;
}

.news-item-inside {
    display: flex;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 30px;
}

.body-more-info a {
    display: flex;
    align-items: center;
    width: max-content;
    justify-content: center;
    padding: 0px 25px;
    height: 40px;
    border: 1px solid #6190D7;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 16px;
    line-height: 19px;
    color: #0754C8;
    text-decoration: none;

}

/* news-body*/